/dbwsbuilder.cmd
/dbwsbuilder.sh
/eclipselink-dbwsutils.jar
/javax.servlet_2.4.0.v200806031604.jar
/javax.wsdl_1.6.2.v201012040545.jar
/org.eclipse.persistence.oracleddlparser.source_1.0.0.v20130531.jar
/org.eclipse.persistence.oracleddlparser_1.0.0.v20130531.jar
